<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Testing Project Suite">
    <test name="API Testing Project Test">
        <groups>
            <run>
                <include name="API Tests"/>
            </run>
        </groups>
        <packages>
            <package name="qtriptest.APITests"/>
        </packages>
    </test>
</suite>